Repository nsafouane/AgentFlow: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, golangci-lint, go-mod-tidy, gosec

go-fmt:
  name: go fmt
  entry: gofmt
  language: system
  args:
  - -w

go-vet:
  name: go vet
  entry: go
  language: system
  args:
  - vet
  - ./...
  pass_filenames: false

golangci-lint:
  name: golangci-lint
  entry: golangci-lint
  language: system
  args:
  - run
  - --fix
  pass_filenames: false

go-mod-tidy:
  name: go mod tidy
  entry: go
  language: system
  args:
  - mod
  - tidy
  pass_filenames: false

gosec:
  name: gosec security scan
  entry: gosec
  language: system
  args:
  - -quiet
  - ./...
  pass_filenames: false

feat: Complete Task 3 - CI Pipeline with comprehensive security scanning
  .env
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security-scan.yml
  .goreleaser.yml
  .kiro/specs/foundations-project-governance/tasks.md
  Dockerfile
  docs/ci-policy.md
  docs/progress.md
  docs/quality-gates.md
  scripts/go.mod
  scripts/go.sum
  scripts/test-security-failure.sh
  scripts/test-workflows.ps1
  scripts/test-workflows.sh
  scripts/validate-tools_test.go
  scripts/validate-workflows.ps1
  scripts/validate-workflows.sh
Due: go-fmt, go-vet, golangci-lint, go-mod-tidy, gosec

feat: Complete Task 4 - Security Tooling Integration
  .kiro/specs/foundations-project-governance/tasks.md
  .kiro/steering/progress.md
  .security-config.yml
  docs/progress.md
  docs/security-baseline.md
  scripts/security-scan.ps1
  scripts/security-scan.sh
  scripts/security_test.go
  scripts/test-security-failure-enhanced.sh
  scripts/test-task-validation.go
  scripts/validate-security-tools-fixed.ps1
  scripts/validate-security-tools.ps1
  scripts/validate-security-tools.sh
Due: go-fmt, go-vet, golangci-lint, gosec

feat: implement Task 5 - Migration Tooling Decision & Policy (goose + sqlc)
  .kiro/specs/foundations-project-governance/tasks.md
  Makefile
  README.md
  README_new.md
  Taskfile.yml
  docs/migration-policy.md
  docs/progress.md
  go.mod
  go.sum
  internal/storage/queries/.gitkeep
  internal/storage/queries/db.go
  internal/storage/queries/migration_baseline.sql
  internal/storage/queries/migration_baseline.sql.go
  internal/storage/queries/models.go
  internal/storage/queries/querier.go
  internal/storage/queries/queries_test.go
  migrations/.gitkeep
  migrations/20240101000000_initial_schema.sql
  migrations/migrations_test.go
  scripts/test-migrations.ps1
  scripts/test-migrations.sh
  sqlc.yaml
Due: go-fmt, go-vet, golangci-lint, go-mod-tidy, gosec

feat: Complete Task 6 - CLI af validate stub with comprehensive environment validation
  .kiro/specs/foundations-project-governance/tasks.md
  README.md
  README_new.md
  cmd/af/main_test.go
  docs/cli-quickstart.md
  docs/progress.md
Due: go-fmt, go-vet, golangci-lint, gosec

feat: complete Task 7 - Versioning & Release Engineering Baseline
  .github/workflows/release.yml
  .kiro/specs/foundations-project-governance/tasks.md
  CHANGELOG.md
  RELEASE.md
  cmd/af/version.go
  cmd/af/version_test.go
  docs/progress.md
  scripts/go.mod
  scripts/parse-version.ps1
  scripts/parse-version.sh
  scripts/test-release-workflow.ps1
  scripts/test-release-workflow.sh
  scripts/test-version.ps1
  scripts/test-version.sh
  scripts/update-version.ps1
  scripts/update-version.sh
  scripts/version_test.go
Due: go-fmt, go-vet, golangci-lint, go-mod-tidy, gosec

feat: Complete Task 8 - Multi-Arch Container Build & Signing
  .github/workflows/container-build.yml
  .kiro/specs/foundations-project-governance/tasks.md
  LICENSE
  Makefile
  Taskfile.yml
  cmd/af/Dockerfile
  cmd/control-plane/Dockerfile
  cmd/worker/Dockerfile
  docs/progress.md
  docs/security-baseline.md
  scripts/test-container-build.go
  scripts/test-container-build.ps1
  scripts/test-container-build.sh
Due: go-fmt, go-vet, golangci-lint, gosec

feat: complete Task 9 - Initial Risk Register & ADR Template
  .kiro/specs/foundations-project-governance/tasks.md
  CONTRIBUTING.md
  Makefile
  Taskfile.yml
  docs/adr/ADR-0001-architecture-baseline.md
  docs/adr/template.md
  docs/progress.md
  docs/risk-register.yaml
  go.mod
  scripts/test-governance-manual.md
  scripts/validate-governance.go
  scripts/validate-governance_test.go
Due: go-fmt, go-vet, golangci-lint, go-mod-tidy, gosec

fix: add comprehensive .gitignore and remove large binary files
  .gitignore
Due: none

feat: Task 13 - Devcontainer Adoption Validation
  .kiro/specs/foundations-project-governance/tasks.md
  Makefile
  README.md
  Taskfile.yml
  ci-validation-reports/ci-green-validation-report.json
  cmd/af/af
  cmd/af/main.go
  cmd/af/main_test.go
  cmd/control-plane/control-plane
  cmd/worker/worker
  docs/ci-green-validation.md
  docs/cross-platform-build-troubleshooting.md
  docs/cross-platform-build-validation-summary.md
  docs/devcontainer-adoption-guide.md
  docs/progress.md
  docs/runbooks/index.md
  go.mod
  scripts/cross_platform_test.go
  scripts/go.mod
  scripts/test-cross-platform-build.go
  scripts/test-cross-platform-build.ps1
  scripts/test-cross-platform-build.sh
  scripts/test-runbook-links.go
  scripts/validate-ci-green.ps1
  scripts/validate-ci-green.sh
  scripts/validate-ci-green_test.go
Due: go-fmt, go-vet, golangci-lint, go-mod-tidy, gosec

feat: complete SBOM & provenance validation implementation
  .kiro/specs/foundations-project-governance/tasks.md
  docs/sbom-provenance-verification.md
  scripts/test-sbom-provenance-comprehensive.ps1
  scripts/test-sbom-provenance-manual.sh
  scripts/test-sbom-validation-simple.ps1
  scripts/validate-sbom-provenance.ps1
  scripts/validate-sbom-provenance.sh
  scripts/validate-sbom-provenance_test.go
Due: go-fmt, go-vet, golangci-lint, gosec

feat: complete Gate G0 validation and update progress tracking
  .kiro/specs/foundations-project-governance/tasks.md
  .kiro/steering/progress.md
  docs/gate-g0-final-validation-report.md
  docs/gate-g0-validation-procedures.md
  docs/interfaces/README.md
  scripts/validate-gate-g0.ps1
  scripts/validate-gate-g0.sh
  scripts/validate-gate-g0_test.go
Due: go-fmt, go-vet, golangci-lint, gosec

chore: add Apache-2.0 license details, license header template, update README and project story
  .kiro/specs/messaging-backbone-tracing/design.md
  .kiro/specs/messaging-backbone-tracing/requirements.md
  .kiro/specs/messaging-backbone-tracing/tasks.md
  LICENSE
  LICENSE_HEADER
  README.md
Due: none

messaging: add tests for message helpers, subjects, serializer; add validate-messaging script
  .kiro/specs/messaging-backbone-tracing/tasks.md
  .kiro/steering/progress.md
  docs/messaging.md
  go.mod
  go.sum
  pkg/messaging/manual_test.go
  pkg/messaging/message.go
  pkg/messaging/message_test.go
  pkg/messaging/messaging.go
  pkg/messaging/schema.go
  pkg/messaging/schema_test.go
  pkg/messaging/serializer.go
  pkg/messaging/serializer_extra_test.go
  pkg/messaging/serializer_test.go
  pkg/messaging/subjects.go
  pkg/messaging/subjects_test.go
  scripts/validate-messaging.ps1
Due: go-fmt, go-vet, golangci-lint, go-mod-tidy, gosec

task: Task 2 complete — NATS JetStream messaging backbone (implementation, tests, docs)
  .kiro/specs/messaging-backbone-tracing/tasks.md
  .kiro/steering/progress.md
  docs/dev-environment.md
  docs/messaging.md
  docs/progress.md
  go.mod
  go.sum
  pkg/messaging/bus.go
  pkg/messaging/manual_test.go
  pkg/messaging/messaging.go
  pkg/messaging/nats_bus.go
  pkg/messaging/nats_bus_test.go
  sdk/go/go.mod
Due: go-fmt, go-vet, golangci-lint, go-mod-tidy, gosec

fix(messaging): OTLP endpoint parsing, disable tracing in integration tests, update progress
  .kiro/specs/messaging-backbone-tracing/tasks.md
  .kiro/steering/progress.md
  docs/messaging.md
  docs/progress.md
  go.mod
  go.sum
  pkg/messaging/manual_test.go
  pkg/messaging/nats_bus.go
  pkg/messaging/nats_bus_test.go
  pkg/messaging/tracing.go
  pkg/messaging/tracing_test.go
Due: go-fmt, go-vet, golangci-lint, go-mod-tidy, gosec

Structured Logger Wrapper with JSON Format
  .kiro/specs/messaging-backbone-tracing/tasks.md
  .kiro/steering/progress.md
  CHANGELOG.md
  cmd/logging-demo/main.go
  coverage
  docs/messaging.md
  docs/progress.md
  internal/logging/logger.go
  internal/logging/logger_test.go
  pkg/messaging/logging_integration_test.go
  pkg/messaging/nats_bus.go
  pkg/messaging/ping_pong_manual_test.go
Due: go-fmt, go-vet, golangci-lint, gosec

feat(messaging): add Performance Harness (Task 5) and document progress; record performance results and CI scripts
  .kiro/specs/messaging-backbone-tracing/tasks.md
  .kiro/steering/progress.md
  docs/messaging.md
  docs/progress.md
  pkg/messaging/benchmark_test.go
  pkg/messaging/manual_benchmark_test.go
  pkg/messaging/performance_harness.go
  pkg/messaging/performance_harness_test.go
  pkg/messaging/performance_test_local.go
  scripts/test-performance.ps1
  scripts/test-performance.sh
Due: go-fmt, go-vet, golangci-lint, gosec

feat(Q1.3): implement core schema migrations with multi-tenant isolation
  .gitignore
  .kiro/specs/relational-storage-migrations/design.md
  .kiro/specs/relational-storage-migrations/requirements.md
  .kiro/specs/relational-storage-migrations/tasks.md
  .kiro/steering/progress.md
  docs/manual-test-procedures.md
  docs/progress.md
  docs/schema-er-diagram.md
  internal/storage/queries/agents.sql
  internal/storage/queries/agents.sql.go
  internal/storage/queries/audits.sql
  internal/storage/queries/audits.sql.go
  internal/storage/queries/messages.sql
  internal/storage/queries/messages.sql.go
  internal/storage/queries/migration_baseline.sql
  internal/storage/queries/migration_baseline.sql.go
  internal/storage/queries/models.go
  internal/storage/queries/querier.go
  internal/storage/queries/queries_test.go
  internal/storage/queries/tenants.sql
  internal/storage/queries/tenants.sql.go
  internal/storage/queries/users.sql
  internal/storage/queries/users.sql.go
  internal/storage/queries/workflows.sql
  internal/storage/queries/workflows.sql.go
  migrations/20250824000000_core_schema.sql
  migrations/migrations_test.go
  pkg/messaging/nats_bus.go
  pkg/messaging/nats_bus_test.go
  pkg/messaging/ping_pong_bench_test.go
Due: go-fmt, go-vet, golangci-lint, gosec

feat(audit): implement audit hash-chain columns with tamper detection
  .kiro/specs/relational-storage-migrations/tasks.md
  .kiro/steering/progress.md
  cmd/af/audit.go
  cmd/af/go.mod
  cmd/af/go.sum
  cmd/af/main.go
  docs/audit-hash-chain.md
  docs/progress.md
  internal/storage/audit/hashchain.go
  internal/storage/audit/hashchain_test.go
  internal/storage/audit/integration_test.go
  internal/storage/audit/service.go
  internal/storage/audit/service_test.go
  scripts/test-audit-tamper-detection.sh
Due: go-fmt, go-vet, golangci-lint, go-mod-tidy, gosec

feat(storage): implement Task 3 - Envelope Hash Persistence for messages table
  .kiro/specs/relational-storage-migrations/tasks.md
  .kiro/steering/progress.md
  cmd/manual-test/main.go
  docs/message-envelope-hash-integration.md
  docs/progress.md
  go.mod
  internal/storage/message/integration_test.go
  internal/storage/message/manual_test.go
  internal/storage/message/service.go
  internal/storage/message/service_test.go
  internal/storage/message/test_helpers.go
Due: go-fmt, go-vet, golangci-lint, go-mod-tidy, gosec

feat: implement Redis & Vector Dev Bootstrap (Task Q1.3.4)
  .kiro/specs/relational-storage-migrations/tasks.md
  .kiro/steering/progress.md
  cmd/af/go.mod
  cmd/af/go.sum
  cmd/af/main.go
  cmd/af/validate_test.go
  docker-compose.yml
  docs/local-services-setup.md
  go.mod
  go.sum
  internal/health/services.go
  internal/health/services_test.go
  scripts/test-services-validation.ps1
Due: go-fmt, go-vet, golangci-lint, go-mod-tidy, gosec

feat: implement Task 5 - Secrets Provider Stub
  .kiro/specs/relational-storage-migrations/tasks.md
  .kiro/steering/progress.md
  docs/secrets-provider.md
  go.mod
  go.sum
  internal/security/secrets/environment.go
  internal/security/secrets/environment_test.go
  internal/security/secrets/file.go
  internal/security/secrets/file_test.go
  internal/security/secrets/manual_test.go
  internal/security/secrets/provider.go
  internal/security/secrets/provider_test.go
  internal/security/secrets/secrets.json
Due: go-fmt, go-vet, golangci-lint, go-mod-tidy, gosec

feat: Complete Task 7 - Backup & Restore Baseline
  .kiro/specs/relational-storage-migrations/tasks.md
  .kiro/steering/progress.md
  cmd/af/audit.go
  cmd/af/audit_test.go
  cmd/af/backup.go
  cmd/af/backup_test.go
  cmd/af/main.go
  cmd/af/main_test.go
  cmd/manual-test/main.go
  docs/audit-hash-chain.md
  docs/disaster-recovery-baseline.md
  docs/message-envelope-hash-integration.md
  internal/backup/integrity.go
  internal/backup/integrity_test.go
  scripts/backup-database.ps1
  scripts/backup-database.sh
  scripts/restore-database.ps1
  scripts/restore-database.sh
  scripts/test-backup-restore-roundtrip.ps1
  scripts/test-backup-restore-roundtrip.sh
  scripts/test-manual-disaster-recovery.sh
Due: go-fmt, go-vet, golangci-lint, gosec

feat: implement MemoryStore Stub with in-memory storage and Q2.6 compatibility
  .kiro/specs/relational-storage-migrations/tasks.md
  .kiro/steering/progress.md
  cmd/memory-demo/main.go
  docs/memory-store-stub.md
  internal/memory/config.go
  internal/memory/config_test.go
  internal/memory/manual_test.go
  internal/memory/store.go
  internal/memory/store_test.go
Due: go-fmt, go-vet, golangci-lint, gosec

feat: implement Control Plane API HTTP server with middleware stack
  .kiro/specs/control-plane-api-skeleton/design.md
  .kiro/specs/control-plane-api-skeleton/requirements.md
  .kiro/specs/control-plane-api-skeleton/tasks.md
  cmd/control-plane/go.mod
  cmd/control-plane/go.sum
  cmd/control-plane/main.go
  docs/control-plane-api-server.md
  go.mod
  internal/server/config.go
  internal/server/config_test.go
  internal/server/manual_test.go
  internal/server/middleware.go
  internal/server/middleware_test.go
  internal/server/server.go
  internal/server/server_test.go
  scripts/test-control-plane-server.ps1
Due: go-fmt, go-vet, golangci-lint, go-mod-tidy, gosec

feat: Complete Q2.1 Task 3 - Multi-Tenancy Enforcement
  .kiro/specs/control-plane-api-skeleton/tasks.md
  .kiro/steering/progress.md
  cmd/control-plane/go.mod
  cmd/control-plane/go.sum
  docs/authentication.md
  docs/multi-tenancy.md
  go.mod
  go.sum
  internal/security/auth.go
  internal/security/auth_test.go
  internal/security/handlers.go
  internal/security/handlers_test.go
  internal/security/manual_test.go
  internal/security/middleware.go
  internal/security/middleware_test.go
  internal/security/oidc.go
  internal/security/oidc_test.go
  internal/security/tenant.go
  internal/security/tenant_demo.go
  internal/security/tenant_demo_test.go
  internal/security/tenant_test.go
  internal/server/middleware.go
  internal/server/server.go
  internal/storage/tenant_scoping.go
  internal/storage/tenant_scoping_test.go
  pkg/messaging/tenant_subjects.go
  pkg/messaging/tenant_subjects_test.go
Due: go-fmt, go-vet, golangci-lint, go-mod-tidy, gosec

Path conditions:
  go-fmt: any of: \.go$
  go-vet: any of: \.go$
  golangci-lint: any of: \.go$
  go-mod-tidy: any of: go\.(mod|sum)$
  gosec: any of: \.go$
